<configuration>
  <Composite.Functions.Plugins.FunctionProviderConfiguration>
    <FunctionProviderPlugins>
      <add type="CompositeC1Contrib.FormBuilder.FunctionProviders.POCOFormFunctionProvider, CompositeC1Contrib.FormBuilder.POCO" name="FormBuilder.POCO" />
    </FunctionProviderPlugins>
  </Composite.Functions.Plugins.FunctionProviderConfiguration>
</configuration>