<configuration>
  <Composite.C1Console.Elements.Plugins.ElementActionProviderConfiguration>
    <ElementActionProviderPlugins>
      <add name="ExcelActionProvider" type="CompositeC1Contrib.FormBuilder.C1Console.ActionProviders.ExcelActionProvider, CompositeC1Contrib.FormBuilder.Excel" />
    </ElementActionProviderPlugins>
  </Composite.C1Console.Elements.Plugins.ElementActionProviderConfiguration>
</configuration>