<configuration>
  <Composite.Data.Plugins.DataProviderConfiguration>
    <DataProviderPlugins>
      <add type="CompositeC1Contrib.FormBuilder.Data.FormDataProvider, CompositeC1Contrib.FormBuilder" name="FormDataProvider" />
    </DataProviderPlugins>
  </Composite.Data.Plugins.DataProviderConfiguration>

  <Composite.C1Console.Elements.Plugins.ElementProviderConfiguration>
    <ElementProviderPlugins>
      <add type="CompositeC1Contrib.FormBuilder.C1Console.ElementProvider.FormBuilderElementProvider, CompositeC1Contrib.FormBuilder" name="FormBuilder" />

      <add name="VirtualElementProvider">
        <Perspectives>
          <add name="ContentPerspective">
            <Elements>
              <add providerName="FormBuilder" name="FormBuilder" type="Composite.Plugins.Elements.ElementProviders.VirtualElementProvider.AttachProviderVirtualElement, Composite" />
            </Elements>
          </add>
        </Perspectives>
      </add>
    </ElementProviderPlugins>
  </Composite.C1Console.Elements.Plugins.ElementProviderConfiguration>

  <Composite.Functions.Plugins.FunctionProviderConfiguration>
    <FunctionProviderPlugins>
      <add type="CompositeC1Contrib.FormBuilder.FunctionProviders.FormBuilderFunctionProvider, CompositeC1Contrib.FormBuilder" name="FormBuilder" />
    </FunctionProviderPlugins>
  </Composite.Functions.Plugins.FunctionProviderConfiguration>
</configuration>