<configuration>
  <Composite.Data.Plugins.DataProviderConfiguration>
    <DataProviderPlugins>
      <add type="CompositeC1Contrib.FormBuilder.Data.FormDataProvider, CompositeC1Contrib.FormBuilder" name="FormDataProvider" />
    </DataProviderPlugins>
  </Composite.Data.Plugins.DataProviderConfiguration>

  <Composite.Functions.Plugins.FunctionProviderConfiguration>
    <FunctionProviderPlugins>
      <add type="CompositeC1Contrib.FormBuilder.FunctionProviders.FormBuilderFunctionProvider, CompositeC1Contrib.FormBuilder" name="FormBuilder" />
    </FunctionProviderPlugins>
  </Composite.Functions.Plugins.FunctionProviderConfiguration>
</configuration>