<configuration>
  <Composite.C1Console.Elements.Plugins.ElementProviderConfiguration>
    <ElementProviderPlugins>
      <add type="CompositeC1Contrib.FormBuilder.Dynamic.C1Console.FormBuilderElementProvider, CompositeC1Contrib.FormBuilder.Dynamic" name="FormBuilder.Dynamic" />

      <add name="VirtualElementProvider">
        <Perspectives>
          <add name="ContentPerspective">
            <Elements>
              <add providerName="FormBuilder.Dynamic" name="FormBuilder.Dynamic" type="Composite.Plugins.Elements.ElementProviders.VirtualElementProvider.AttachProviderVirtualElement, Composite" />
            </Elements>
          </add>
        </Perspectives>
      </add>
    </ElementProviderPlugins>
  </Composite.C1Console.Elements.Plugins.ElementProviderConfiguration>
</configuration>