<configuration>
  <Composite.C1Console.Forms.Plugins.ProducerMediatorConfiguration>
    <Mediators>
      <add type="Composite.C1Console.Forms.StandardProducerMediators.UiControlProducerMediator, Composite" name="https://compositec1contrib.net/formbuilder/1.0" />
    </Mediators>
  </Composite.C1Console.Forms.Plugins.ProducerMediatorConfiguration>

  <Composite.C1Console.Forms.Plugins.UiControlFactoryConfiguration>
    <Channels>
      <Channel>
        <Namespaces>
          <Namespace name="https://compositec1contrib.net/formbuilder/1.0">
            <Factories>
              <add userControlVirtualPath="~/Composite/InstalledPackages/CompositeC1Contrib.FormBuilder.Dynamic/FunctionSelector.ascx" cacheCompiledUserControlType="false" type="Composite.Plugins.Forms.WebChannel.UiControlFactories.UserControlBasedUiControlFactory, Composite" name="FunctionSelector" />
            </Factories>
          </Namespace>
        </Namespaces>
      </Channel>
    </Channels>
  </Composite.C1Console.Forms.Plugins.UiControlFactoryConfiguration>
</configuration>