<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="compositeC1Contrib">
      <section name="formBuilder" type="CompositeC1Contrib.FormBuilder.Configuration.FormBuilderConfigurationHandler, CompositeC1Contrib.FormBuilder" />
    </sectionGroup>
  </configSections>

  <compositeC1Contrib>
    <formBuilder defaultFunctionExecutor="FormBuilder.StandardFormExecutor">
      <captcha defaultProvider="C1">
        <providers>
          <add name="C1" type="CompositeC1Contrib.FormBuilder.Web.UI.CompositeC1CaptchaProvider, CompositeC1Contrib.FormBuilder" />
          <add name="Google" type="CompositeC1Contrib.FormBuilder.Web.UI.GoogleReCAPTCHAProvider, CompositeC1Contrib.FormBuilder" siteKey="..." secret="..." />
        </providers>
      </captcha>
    </formBuilder>
  </compositeC1Contrib>
</configuration>