<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="compositeC1Contrib">
      <section name="formBuilder" type="CompositeC1Contrib.FormBuilder.Configuration.FormBuilderConfigurationHandler, CompositeC1Contrib.FormBuilder" />
    </sectionGroup>
  </configSections>

  <compositeC1Contrib>
    <formBuilder defaultFunctionExecutor="FormBuilder.StandardFormExecutor" />
  </compositeC1Contrib>
</configuration>