<configuration>
  <Composite.Functions.Plugins.FunctionProviderConfiguration>
    <FunctionProviderPlugins>
      <add type="CompositeC1Contrib.FormBuilder.FunctionProviders.FormWizardFunctionProvider, CompositeC1Contrib.FormBuilder.Wizard" name="FormBuilder.Wizard" />
    </FunctionProviderPlugins>
  </Composite.Functions.Plugins.FunctionProviderConfiguration>
</configuration>