<?xml version="1.0"?>
<configuration>
  <compositeC1Contrib>
    <formBuilder>
      <wizard type="CompositeC1Contrib.FormBuilder.Wizard.Configuration.WizardFormBuilderConfiguration, CompositeC1Contrib.FormBuilder.Wizard">
        <submitHandlers>
          <add name="Send email" type="CompositeC1Contrib.FormBuilder.Wizard.SubmitHandlers.EmailSubmitHandler, CompositeC1Contrib.FormBuilder.Wizard" allowMultiple="true" />
        </submitHandlers>
      </wizard>
    </formBuilder>
  </compositeC1Contrib>
</configuration>