<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="compositeC1Contrib">
      <sectionGroup name="formBuilder">
        <section name="dynamic" type="CompositeC1Contrib.FormBuilder.Dynamic.Configuration.DynamicSection, CompositeC1Contrib.FormBuilder.Dynamic" restartOnExternalChanges="false" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
</configuration>