<?xml version="1.0"?>
<configuration>
  <compositeC1Contrib>
    <formBuilder>
      <dynamic type="CompositeC1Contrib.FormBuilder.Dynamic.Configuration.DynamicFormBuilderConfiguration, CompositeC1Contrib.FormBuilder.Dynamic">
        <inputElementHandlers>
          <add name="Textbox" type="CompositeC1Contrib.FormBuilder.Web.UI.TextboxInputElementAttribute, CompositeC1Contrib.FormBuilder" settingsHandler="CompositeC1Contrib.FormBuilder.Dynamic.TextBoxSettings, CompositeC1Contrib.FormBuilder.Dynamic" />
          <add name="Password" type="CompositeC1Contrib.FormBuilder.Web.UI.PasswordInputElementAttribute, CompositeC1Contrib.FormBuilder" />
          <add name="Textarea" type="CompositeC1Contrib.FormBuilder.Web.UI.TextAreaInputElementAttribute, CompositeC1Contrib.FormBuilder" settingsHandler="CompositeC1Contrib.FormBuilder.Dynamic.TextAreaSettings, CompositeC1Contrib.FormBuilder.Dynamic" />
          <add name="Checkbox" type="CompositeC1Contrib.FormBuilder.Web.UI.CheckboxInputElementAttribute, CompositeC1Contrib.FormBuilder" />
          <add name="Dropdown" type="CompositeC1Contrib.FormBuilder.Web.UI.DropdownInputElementAttribute, CompositeC1Contrib.FormBuilder" />
          <add name="File upload" type="CompositeC1Contrib.FormBuilder.Web.UI.FileuploadInputElementAttribute, CompositeC1Contrib.FormBuilder" />
          <add name="Radio buttons" type="CompositeC1Contrib.FormBuilder.Web.UI.RadioButtonInputElementAttribute, CompositeC1Contrib.FormBuilder" />
        </inputElementHandlers>

        <submitHandlers>
          <add name="Send email" type="CompositeC1Contrib.FormBuilder.Dynamic.SubmitHandlers.EmailSubmitHandler, CompositeC1Contrib.FormBuilder.Dynamic" allowMultiple="true" />
          <add name="Save submit" type="CompositeC1Contrib.FormBuilder.Dynamic.SubmitHandlers.SaveFormSubmitHandler, CompositeC1Contrib.FormBuilder.Dynamic" allowMultiple="false" />
        </submitHandlers>
      </dynamic>
    </formBuilder>
  </compositeC1Contrib>
</configuration>